@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}



body{
    background-color: rgb(0, 0, 7);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.links a{  
    font-size: 1.25rem;
    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    transition: 0.3s;
}

main{
    flex-wrap: wrap;
    display: flex;
    max-width: 1024px;
    width: 100%;
    margin-top: 10%;
}

.links{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#name {
    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.complement{
    font-weight: 200;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: flex-end;
}

#planet{
    fill: rgb(255, 255, 255);
    margin-left: 10px;
}


.personal-site-button{
    border: none;
    font-weight: 700;
    font-family: 'inter', sans-serif;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 2.2rem;
    width: 5rem;
    background-color: white;
    border-radius: 16px;
    transition: 0.3s;
}

.personal-site-button:hover{
    transform: scale(0.9);
    border: solid 1px white;
    background-color: rgba(255, 255, 255, 0.849);
}

.personal-link{
    color: black;
}

.c-s{
    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 700;
    margin-right: 0.5rem;
    text-decoration: underline;
}

.links a:hover{
    transform: scale(0.9);
    margin-left: 0.5rem;
    letter-spacing: 3px;
}

.info{
    font-size: 12px;
    font-weight: 400;
    margin-top: 1rem;
    height: fit-content;
    color: white;
    font-family: 'inter', sans-serif;
    width: 100%;
}

.botton{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.botton1{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.line{
    height: 1px;
    width: 100%;
    background-color: white;
    margin-top: 4rem;
}

.icons{
    margin-top: 2vh;
    display: flex;
    gap: 10px;
}

.icon{
    fill: white;
    height: 3rem;
    transition: 0.08s ease-in;
}

.icon:hover{
    transform: scale(0.9);
}

@media (max-width: 1000px) {

    .links{
        align-items: flex-start;
        display: flex;
        margin-top: 1rem;
        width: fit-content;
    }
    
    .top{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    main{
        max-width: 80%;
    }
    
}

::-webkit-scrollbar{
    width: 1px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(0, 15, 65);
}